<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="smtpRelay_Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <smtpRelay_Admin.Properties.Settings>
            <setting name="LastSmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="LastUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTo" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSubject" serializeAs="String">
                <value />
            </setting>
        </smtpRelay_Admin.Properties.Settings>
    </userSettings>
</configuration>